<template>
  <div id="app" style="min-height: 100vh;">
    <h1 class="title" v-if="!playing">press enter to start</h1>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      playing: false
    };
  },
  components: {},
  methods: {
    playAudio() {
      this.playing = true;
      const audio = new Audio(require("./audio.mp3"));
      audio.play();
      audio.onended = () => {
        this.playing = false;
      };
    }
  },
  mounted() {
    document.addEventListener("keyup", event => {
      if (event.keyCode == "13" && !this.playing) {
        this.playAudio();
      }
    });
  }
};
</script>

<style>
body {
  background-color: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.title {
  color: white;
  font-size: 36px;
}
</style>
